postgresql-8.1.4/.git
postgresql-8.1.4/*.o
postgresql-8.1.4/*.a
postgresql-8.1.4/src/backend/*.o
postgresql-8.1.4/src/backend/**/*.o
postgresql-8.1.4/src/bin/**/*.o
postgresql-8.1.4/src/interfaces/**/*.o
postgresql-8.1.4/src/pl/**/*.o
postgresql-8.1.4/src/port/*.o
postgresql-8.1.4/src/utils/*.o
postgresql-8.1.4/src/test/**/*.o
postgresql-8.1.4/src/timezone/*.o
postgresql-8.1.4/src/tools/**/*.o
postgresql-8.1.4/src/tutorial/*.o
postgresql-8.1.4/src/utils/*.o
postgresql-8.1.4/.depend
postgresql-8.1.4/src/backend/.depend
postgresql-8.1.4/src/backend/**/.depend
*.log

